doctype html  
html(lang='en') 
    head
        title Ketttle
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        link(
            rel='stylesheet' 
            href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' 
            integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' 
            crossorigin='anonymous'
        )
        link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(
            src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
            integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl'
            crossorigin='anonymous'
        )
        link(rel='stylesheet' href='/ketttle/public/styles.css')
        script(defer type='text/javascript' src='/ketttle/public/js/index.js')
    body
        nav(class='navbar navbar-expand-md navbar-dark bg-dark fixed-top')
            a(class='navbar-brand' href='/ketttle') Ketttle
            div(class='collapse navbar-collapse')
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link' + (home ? ' active' : '') href='/ketttle') Home
                            span(class='sr-only') current

                    if logged_in
                        li(class='nav-item')
                            a(class='nav-link' + (upload ? ' active' : '') href='/ketttle/upload') Upload

                        li(class='nav-item')
                            a(class='nav-link' + (jobslist ? ' active' : '') href='/ketttle/jobs') Jobs

                        li(class='nav-item')
                            a(class='nav-link' href='/ketttle/api/users/logout') Logout
                    else
                        li(class='nav-item')
                            a(class='nav-link' + (login ? ' active' : '') href='/ketttle/login') Log In

                        li(class='nav-item')
                            a(class='nav-link' + (register ? ' active' : '') href='/ketttle/register') Register
        div(style='margin-bottom:100px')
            block content
        footer(class='footer')
            p(style='padding-top:30px;text-align:center') 
                | #[a(href='http://cs.vt.edu/' style='text-decoration:none;color:gray') Department of Computer Science @ Virginia Tech]
                | #[br]#[a(href='https://arc.vt.edu/' style='text-decoration:none;color:gray') Advanced Research Computing @ Virginia Tech]
