extends header

block content
    .wrapper 
        .container
            div(class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3' style='padding-top:20px')
                h1(class='h2') Job Statuses
                div(class='btn-toolbar')
                    div(class='btn-group')
                        button(class='compare-button btn btn-outline-secondary') Select multiple and compare

            table(class='table table-hover' style='width:1050px;')
                tr
                    td select
                    td id
                    td status
                    td output
                    td visualization
                    td database
                    td read_count
                    td qsub_id
                    td last updated
                each job in jobs
                    tr
                        if job.status === 'completed'
                            td #[input(id='select-job-box' data-job-id=job._id type='checkbox')]
                        else
                            td -
                        td #{job._id || '-'}
                        td #{job.status || '-'}
                        if job.status === 'completed'
                            td #[a(href='/api/jobs/download/' + job._id) Download]
                            td #[a(href='/job/' + job._id + '/visualization') Visualize]
                        else
                            td -
                            td -
                        td #{job.database || '-'}
                        td #{job.read_count || '-'}
                        td #{job.qsub_id ? job.qsub_id.split('.')[0] : '-'}
                        td #{new Date(job.updated_at).toLocaleDateString()}
            ul(class='pagination')
                if Number(page) === 1
                    li(class='page-item disabled')
                        a(class='page-link') Prev
                else
                    li(class='page-item')
                        a(class='page-link' href='/jobs?page=' + (Number(page) - 1)) Prev
                each pageNum in pages
                    if pageNum === Number(page)
                        li(class='page-item active')
                            a(class='page-link' href='/jobs?page=' + pageNum) #{pageNum}
                    else
                        li(class='page-item')
                            a(class='page-link' href='/jobs?page=' + pageNum) #{pageNum}
                if Number(page) === Number(maxPages)
                    li(class='page-item disabled')
                        a(class='page-link') Next

                else
                    li(class='page-item')
                        a(class='page-link' href='/jobs?page=' + (Number(page) + 1)) Next
