extends header

block content
    div(class='center wrapper')
        if !job
            p Failed to load job data
        else
            h2 Job Data
            table(class='table')
                tbody
                    tr
                        td(align='right') Id
                        td(align='left') #{job._id}
                    tr
                        td(align='right') Status
                        td(align='left') #{job.status || '-'}
                    tr
                        td(align='right') Output
                        td(align='left') #[a(href='/api/jobs/download/' + job._id) Download]
                    tr
                        td(align='right') Database Name
                        td(align='left') #{job.database || '-'}
                    tr
                        td(align='right') Read Count
                        td(align='left') #{job.read_count || '-'}
                    tr
                        td(align='right') Qsub Id
                        td(align='left') #{job.qsub_id || '-'}
                    tr
                        td(align='right') Last Updated At
                        td(align='left') #{job.updated_at}
            h2 Abundance Graph
                p!= visualizationHTML
